* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: $font-family-body;
  // color: $white;
  // background-color: $darkBlue3;
}

img{
  width: 100%;
}
