.about-us {
  margin-top: $extraMarginTop;
  .about-us-row {
    .about-us-tile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 80px auto;
      p {
        width: 350px;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .about-us-row {
    display: flex;
    justify-items: center;
    width: 1024px;
    margin: 0 auto;
}
}
