.hero {
  // background-image: url("../../images/bg-curvy-mobile.svg");
  // background-position: bottom;
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: $darkBlue1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  .hero-img {
    width: 100%;
  }
  .hero-content {
    padding: 20px;
    margin-bottom: 40px;
    h1 {
      font-size: 26px;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    .call-to-action {
      width: 250px;
      height: 50px;
    }
  }
  // &:after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 20px;
  //   width: 100%;
  //   background: url(../../images/bg-curvy-mobile.svg) bottom center;
  //   background-size: 100% 100%;
  //   -o-background-size: 100% 100%;
  //   -webkit-background-size: 100% 100%;
  //   background-size: cover;
  // }
}

@media (min-width: 768px) {
  .hero {
    // max-width: 768px;
    .hero-content {
      h1 {
        font-size: 42px;
      }
    }
  }
}
